@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

* {
    padding: 0 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Header and Hero */
.head {
    color: #F9FAF8;
    background-color: #1F2937;
}

.head-top {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
}

.head-logo {
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7Eb;
    font-size: 18px;
}

.hero {
    display: flex;
    padding: 100px;
    justify-content: space-around;
}

.hero img{
    max-height: 350px;
    margin-left: 44px;
}

.title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    max-width: 450px;
    margin-bottom: 10px;
}

.title-sub {
    color: #E5E7Eb;
    font-size: 18px;
    max-width: 575px;
    margin-bottom: 15px;
}

.hero-R {
    display: flex;
    align-items: center;
}

.head button {
    color: white;
    background-color: #3882F6;
    font-size: 12px;
    width: 100px;
    height: 40px;
    border: 0;
    border-radius: 10px;
}

.info {
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin: 20px;
}

.h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin-top: -50px;
}

.card-cont {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 50px;
}

.card-txt {
    text-align: center;
    margin-top: -15px;
}

.quote {
    background-color: #E5E7Eb;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.quote h3 {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
}

.quote p {
    font-size: 18px;
    font-weight: bold;
}

.quote-p {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-right: 150px;
}

.end {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-box {
    background-color: #3882F6;
    width: 75%;
    height: 50%;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}

.end-L {
    color: white;
    width: 60%;
    padding: 25px;
    margin-left: 50px;
}

.end-L h4 {
    font-size: 24px;
    margin-bottom: 10px;
}

.end-R button {
    font-size: 12px;
    color: white;
    background-color: #3882F6;
    width: 100px;
    height: 40px;
    border: 1px solid white;
    border-radius: 10px;
}

.end-R {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 25%;
    margin-right: 45px;
    margin-top: 30px;
    padding: 25px;
}

.footer {
    color: white;
    background-color: #1F2937;
    text-align: center;
    padding: 20px;
}